/*Estilos del Mapa*/

      /*body{        
        text-align: center;
        margin: 0px;
        padding: 0px;
        
      }

      .todo
      {
        text-align: center;
      }*/

      #map-canvas {
        width: 900px;
        height: 427px;
     
     
        border-radius: 5px;
     
      }


#panel
{
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}