/*Estilos del Mapa*/

#busquedaAvanzada
{
    height:427px !important;
}
#map-canvas
{
    width: 900px;
    height: 427px;
    margin-top: 0;
    border-radius: 5px;
}


#panel
{
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}
