
#map-canvas
{
    width: 96%;
    height: 250px;
    text-align: center;
    border: 2px;
    border-radius: 2px;
    border-color: gray;
    border-style: groove;
    margin-bottom: 5px;
    margin-top: 20px;
    left: 10px;
}
