      .todo
      {
        text-align: center;
      }

      #map-canvas {
        width: 300px;
        height: 250px;
        text-align: center;
        border:5px;
        border-radius: 5px;
        border-color: black;
        border-style: groove;
      }


      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }