b {
    color: white !important;
}

.navbar-default {
    background-color:black;
    border-color:white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: white;
    }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color:black;
}

#lblLogin,#btnCerrarSesion {
    color:white;
}

#btnIngresar:hover{
        
    background-color:#01A9DB;
    
}
#frmContacto{
    float:none;
    margin:auto;
}

input, button, .btn, span, modal-content,modal-dialog, select,.dropdown,.dropdown-menu,.jumbotron, .form-control,.label {
    border-radius:0 !important;

}

#session {
    padding-right: 10px;
padding-left: 10px;
}