body {
}

b {
    color: white !important;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: white;
    }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color:black;
}

#lblLogin,#btnCerrarSesion {
    color:white;
}

.loadinggif {
    background:url('/img/loading.gif') no-repeat right center;
}