html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eee;
}
.fullscreen {
    height: 100%;
    width: 100%;
}
#map-canvas {
    position: fixed !important;
    border: solid 2px;
}
* {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
input,
textarea {
    -webkit-user-select: text;
}
.btn {} #grupoDeBotones {
    position: fixed !important;
    bottom: 0px;
    left: 10%;
    height: auto;
    width: auto;
    border: solid 2px;
    border-radius: 5px;
    z-index: 1000;
}