<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    
    <pages enableEventValidation="false" validateRequest="false" />

  </system.web>
  <connectionStrings>
    <add name="BD_Geoparking" providerName="System.Data.SqlClient" connectionString="Data Source=SQL5004.Smarterasp.net;Initial Catalog=DB_9B3453_Geoparking;User Id=DB_9B3453_Geoparking_admin;Password=geoparking"/>
  </connectionStrings>
  <applicationSettings>
    <Web.Properties.Settings>
      <setting name="Web_GeoService_Service1" serializeAs="String">
        <value>http://localhost:33543/GeoService.asmx</value>
      </setting>
    </Web.Properties.Settings>
  </applicationSettings>
</configuration>
